<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>30</daysToKeep>
        <numToKeep>2</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.8">
      <ownership>
        <ownershipEnabled>true</ownershipEnabled>
        <primaryOwnerId>admin</primaryOwnerId>
        <coownersIds class="sorted-set">
          <string>user1</string>
        </coownersIds>
      </ownership>
      <itemSpecificSecurity>
        <permissionsMatrix>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:user1</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:user1</permission>
          <permission>hudson.model.Item.Read:user1</permission>
          <permission>hudson.model.Item.Workspace:user1</permission>
          <permission>hudson.model.Item.Configure:user1</permission>
          <permission>hudson.model.Run.Delete:user1</permission>
          <permission>hudson.model.Item.Discover:user1</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:user1</permission>
          <permission>hudson.model.Item.Build:user1</permission>
          <permission>com.synopsys.arc.jenkins.plugins.ownership.OwnershipPlugin.Jobs:user1</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:user1</permission>
          <permission>hudson.model.Item.Cancel:user1</permission>
          <permission>hudson.model.Item.Delete:user1</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:user1</permission>
          <permission>hudson.model.Run.Update:user1</permission>
        </permissionsMatrix>
      </itemSpecificSecurity>
    </com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>oroin-slave-test</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot; GIT_TAG_NAME $GIT_TAG_NAME&quot;

echo &quot; GIT_TAG_MESSAGE $GIT_TAG_MESSAGE&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <htmlpublisher.HtmlPublisher plugin="htmlpublisher@1.11">
      <reportTargets/>
    </htmlpublisher.HtmlPublisher>
  </publishers>
  <buildWrappers>
    <com.google.jenkins.plugins.gitnotes.GitNotesJobLogger plugin="google-git-notes-publisher@0.3"/>
  </buildWrappers>
</project>